/* color palette from <https://github.com/vuejs/theme> */
:root {
  // white series
  --white: #ffffff;
  --white-soft: #f8f8f8; // mark
  --white-mute: #f2f2f2;
  // black series
  --black: #181818;
  --black-soft: #222222; // mark
  --black-mute: #282828;
  // grey series
  --grey-light: #dbdbdb;
  --grey-mute: #bebebe;
  --grey: #808080;
  --grey-dark: #4f4f4f;
  // theme-color: light mode (default)
  --green: #03a0a0;
  --green-filter: invert(52%) sepia(81%) saturate(4430%) hue-rotate(152deg) brightness(94%) contrast(98%);
  --blue: #414380;
  --blue-light: #83c7ff;
  // theme-color: dark mode
  --pink: #c85169;
  --pink-filter: invert(46%) sepia(31%) saturate(5195%) hue-rotate(320deg) brightness(88%) contrast(75%);
  --orange: #ffa500;
  --orange-light: #ffd992;
}

/* semantic color variables for this project */
:root {
  // basic
  --color-background: var(--white-mute);
  --color-text: var(--black);
  --color-hr: var(--grey-light);
  // index products, cart main background
  --color-background-card: var(--white);
  // theme color
  --color-theme: var(--green);
  --color-theme-text: var(--white-mute);
  // theme button
  --color-btn-text: var(--white-mute);
  --color-btn-theme: var(--blue);
  --color-btn-second: var(--blue-light);
  // statement
  --color-statement-background: var(--grey-light);
  --color-statement-text: var(--grey);
  --color-statement-icon: var(--green-filter);
  --color-statement-divide: var(--grey-mute);
}

.dark-mode {
  // basic
  --color-background: var(--black-mute);
  --color-text: var(--white-mute);
  --color-hr: var(--grey-dark);
  // index products
  --color-background-card: var(--black);
  // theme color
  --color-theme: var(--pink);
  --color-theme-text: var(--white-mute);
  // theme button
  --color-btn-text: var(--black-mute);
  --color-btn-theme: var(--orange);
  --color-btn-second: var(--orange-light);
  // statement
  --color-statement-background: var(--grey-dark);
  --color-statement-text: var(--grey-mute);
  --color-statement-icon: var(--pink-filter);
  --color-statement-divide: var(--grey);
}