/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8; // mark
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222; // mark
  --black-mute: #282828;

  --green: #03a0a0;
  --blue: #414380;
  --blue-light: #83c7ff;

  --pink: #c85169;
  --orange: #ffa500;
  --orange-light: #ffd992;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white-mute);

  --color-heading: var(--green);
  --color-heading-text: var(--white-mute);
  --color-text: var(--black);

  --color-btn-text: var(--white-mute);
  --color-btn-theme: var(--blue);
  --color-btn-second: var(--blue-light);
}

.dark-mode {
  --color-background: var(--black-mute);

  --color-heading: var(--pink);
  --color-heading-text: var(--white-mute);
  --color-text: var(--white-mute);

  --color-btn-text: var(--black-mute);
  --color-btn-theme: var(--orange);
  --color-btn-second: var(--orange-light);
}