// 輸入框樣式
select, input[type="text"] {
  color: var(--color-text);
  background: var(--color-background);
}

input[type="text"] {
  border: 1px solid var(--color-hr);
}

// 卡片效果
.cart-main-wrapper {
  @apply rounded-md shadow-md;
  background-color: var(--color-background-card);
}

// 購物車進度、狀態顯示
.cart-state-wrapper {
  background-color: var(--color-background-section);
  position: relative;
  // 灰底進度線
  &::before {
    position: absolute;
    top: 35%;
    left: 2rem;
    display: block;
    width: calc(100% - 4rem);
    height: 2px;
    content: "";
    background-color: var(--color-cartState-default);
  }
  // 主題色進度線
  .progressBar {
    position: absolute;
    top: 35%;
    left: 2rem;
    display: block;
    width: calc((100% - 4rem) / 2);
    height: 2px;
    background-color: var(--color-theme);
    &.final {
      width: calc(100% - 4rem)
    }
  }
  // 圓形樣式
  .cart-state-circle {
    @apply inline-block text-xs w-5 h-5 border-solid border-2 rounded-full;
  }
  // 待填寫狀態
  .cart-state-default {
    color: var(--color-cartState-default);
    border-color: var(--color-cartState-default);
    h4 {
      background-color: var(--color-cartState-default);
    }
  }
  // 填寫中狀態
  .cart-state-active {
    color: var(--color-theme);
    border-color: var(--color-theme);
    h4 {
      background-color: var(--color-background-section);
    }
  }
  // 完成狀態
  .cart-state-completed {
    color: var(--color-theme);
    border-color: var(--color-theme);
    h4 {
      background-color: var(--color-theme);
    }
  }
}

// 購物車表格基本設定
.order-text {
  font-size: calc(1rem - 2px);
}